.DS_Store
*.sublime-project
*.sublime-workspace
codekit-config.json
node_modules
.sass-cache
.jekyll-metadata
.Rproj.user
.Rhistory
stwur_blog.Rproj
rmd_posts/Diagnoza_dane-master
rmd_posts/data
rmd_posts/internet_samotnosc.csv
certificate.log
certificate.synctex.gz
certificate.pdf
.Rproj.user
STWUR.Rproj

